h1 {
    color: yellow;
}

h2 {
    color: rgb(241, 0, 0)
}

h3 {
    color: #00ff00;
}

.p-big {
    font-size: 48px;
}

.p-fat {
    font-weight: bold;
}

.container {
    background-color: #0000FF;
    width: 500px;
    margin: 50px 100px;
    padding: 30px;
    box-sizing: border-box;
}
/*.box {*/
/*    background-color: #FF0000;*/
/*    width: 300px;*/
/*    margin: 20px;*/
/*    padding: 30px;*/
/*    box-sizing: border-box;*/
/*}*/